# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Google Maps (역지오코딩 + 지도)
VITE_GOOGLE_MAPS_API_KEY=AIzaSyA6IVGTxgHIljtunyaHI1CC23D_5HPnNHM
